<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= image_for(note.user)%></td>
        <td><%= note.user.name%></td>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <td><%= note.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></br>

      </tr>
      
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
